{% extends 'base.html.twig' %}

{% block title %}Order Pizza{% endblock %}

{% block body %}
<div class="container page-container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Order a Pizza!</h1>
            Variety: {{ variety }}
        </div>
    </div>
</div>
{% endblock %}
