{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Organic Ingredients<br />Instant Delivery*</div>
                <a href="#pizzatypes" class="page-scroll btn btn-xl">Order a Pizza</a>
            </div>
            <p class="text-muted">* Imaginary pizzas will arrive instantaneously</p>
        </div>
    </header>
    <!-- /Header -->
{% endblock %}
